/* ********************************    GENERAL ITEMS   *********************************** */

body
{
   padding: 0;
   margin: 2vw;
}  

a
{
   text-decoration: none;
}

a:visited
{
   text-decoration: none;
   
}

/* ********************************  CLASS ITEMS   *********************************** */

.centerall
{
   text-align: center;
}

/* ********************************    ID ITEMS   *********************************** */
