/* ********************************    GENERAL ITEMS   *********************************** */

body
{
   padding: 0;
   margin: 2vw;
}  

a
{
   text-decoration: none;
}

img
{
   width: 20vw;
}

a:visited
{
   text-decoration: none;
   
}

/* ********************************  CLASS ITEMS   *********************************** */

.centerall
{
   text-align: center;
}

.starting
{
   font-size: 5vw;
}

.start2
{
   float: left; 
   padding-left: 29%;
}

.start3
{
   clear: right; 
   float: left;
   padding-left: 5%;
}

.start4
{
   float: right; 
   clear: right; 
   padding-right: 24%;
}

.start5
{
   clear: left; 
   padding-left: 23%;
}

/* ********************************    ID ITEMS   *********************************** */
